/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Eventos
:: Colabordor
:: Blog
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



body{
    font-size: 62.5% !important;
}

img{
	width: 100%;
}

header{
    background: #bebebe;
    margin-bottom: 40px;
}

nav ul li{
    display: inline-block;
    padding: 25px 20px 5px 20px;
}

.footercont{
    padding: 15px 0 25px 0;
    text-align: justify;
}

.derecha{
    text-align: right;
}

.margentop{
    margin-top: 5px;
}

footer{
    background: #bebebe;
    margin-top: 40px;
}

.icono{
    font-size: 2em;
}

iframe{
	width: 100%;
}

.logoimg img{
	max-width: 130px;
	padding-top: 10px;
}

.imgcont{
	text-align: center;
}

/* -----------------------------------------
  Eventos
----------------------------------------- */

.accordion {
    margin: 0px; 
}
.accordion dt, .accordion dd {
    padding: 10px;
    border-bottom: 0; }
.accordion dt/*:last-of-type*/, .accordion dd/*:last-of-type*/ {
    border-bottom: 1px solid #bcbcbc; }
.accordion dt a/*, .accordion dd a */{
    display: block;
    color: black;
    font-weight: bold; }
.accordion dd {
    border-top: 0;
    font-size: 12px; }
.accordion dd:last-of-type {
    border-top: 1px solid white;
    position: relative;
    top: -1px; }
li{
    list-style: none;
}

.eventospasados{
    margin-bottom: 150px;
}


/* -----------------------------------------
   Colaborador
----------------------------------------- */

.colaborador .seven h3{
    margin-top: 0px;
    border-bottom: 1px solid #bebebe;
}

.colaborador{
    //border-bottom: 1px solid #bebebe;
    margin-bottom: 20px !important;
}

img .colaborador-logo{
	width: auto !important;
}

/* -----------------------------------------
   Blog
----------------------------------------- */
.entrada div h3{
    text-align: center;
}

.entrada div p{
    text-align: justify;
}

.entrada div{
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.9);
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

.single-entrada h2{
	text-align: center;
}

.single-entrada{
	text-align: justify;
}


/* -----------------------------------------
   Artista
----------------------------------------- */

.contenedor-imagen-artista{
	max-height: 205px;
	max-width: 205px;
}


.obra{
	max-width: 146px;
	max-height: 146px;
}

.obragrande{
	max-width: 518px;
}

.imagen-artista{
	max-width: 300px;

	margin: 0 auto;
}

/* -----------------------------------------
   Dashboard
----------------------------------------- */

.tabs-content li{
	padding: 20px;
}

.tabs-content li div h2, .tabs-content li div h3, .tabs-content li div h5,.tabs-content li div h4{
	text-align: center;
}